@import "./partials/_colors.scss";
@import "./partials/_fonts.scss";
@import "./partials/_skeleton.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

* {
    font-family: $stylish_reg;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none !important; //por encima de bootstrap
}

.brand-logo {
    .brand-text {
        font-family: $pacifico_reg;
        font-size: 25px;
        &:after{
            
        }
    }
}
.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bg-pattern {
    background-repeat: repeat;
    background-size: contain;
}